.fader-canvasses {
    position: absolute;
    left: 0;
    width: 100%;
}

#fader-canvas-top {
    z-index: 1;
}

#fader-canvas-bottom {
    z-index: 0;
}

#slider-control {
    margin: 12px;
}

#expanding-container {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}
